.footer_link{
    font-size: 18px;
    color: gray;
    font-weight: 600;
}

 .icon{
background-color: rgba(11, 11, 135, 0.721);
border-radius: 9999px;
padding: 5px;
}
 .icon:hover{
background-color: transparent;
transition-duration: 0.5s;
}